.container{
  background-color: red;
  width:100%;
}

.col-4{
  background-color: green;
  width: 31.2%;
  float:left;
  text-align: center;
  border: 1px solid #000000;
  margin: 1%;
}

.row{
  background-color: purple;
  border: 1px solid #000000;
  clear:both;
  margin: 10px;
  overflow: hidden;
  padding-bottom: 1%;
  text-indent: 1%;
}

.col-8{
  background-color: green;
  width: 64.2%;
  float: right;
  text-align: center;
  border: 1px solid #000000;
  margin: 1%;
}

.col-1{
  display:inline;
  background-color: yellow;
  border: 1px solid #000000;
  margin: 0.2%;
}

.col-6{
  display:inline;
  float: left;
  width: 49%;
  background-color: blue;
  margin-left: 0.5%;
  border: 1px solid #000000;
  padding-bottom: 5%;
}


.footer{
  clear: both;
  background-color: white;
  padding-bottom: 30px;
  margin-top: 10px;
  border: 1px solid #000000;
}





